*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, input , button{
  font-family: 'Roboto', sans-serif;
}

.AppWrapperContainer{
  header{
    background-color: rgb(101, 121, 154);
    height: 13vh;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;

    .textGithub{
      color: #fff;

    }
  }
  main{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    form{
      margin-top: 30px;
      
      .inputName{
        width: 300px;
        height: 50px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border: 3px solid rgb(132, 148, 174);
        outline: none;
        padding-left: 25px;
      }

      button{
        height: 50px;
        padding: 10px 30px;
        border-top-right-radius: 10px ;
        border-bottom-right-radius: 10px ;
        background-color: rgb(101, 121, 154);
        outline: none;
        border: none;
        color: #fff;
        cursor: pointer;
      }

    }
    .repos{
      padding-right: 50px;
      padding-top: 25px;
      img{
        width: 250px;
        height: 250px;
      }
    }
    
  }


  
}